<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Simple Project</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css')}}">
    
    {% block styles %}   {% endblock %}
    
</head>
<body>

    {% include "/partials/header.html" %}

    <div class="main_container">
        {% block content %} {% endblock %}
    </div>
 

    {% include "/partials/footer.html" %}

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

    {% block scripts %}{% endblock  %}
</body>
</html>